# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC_TRANSACTIONS=transactions
KAFKA_TOPIC_ALERTS=fraud-alerts

# BigQuery
BIGQUERY_PROJECT=fraud-detection-project
BIGQUERY_DATASET=fraud_detection
BIGQUERY_TABLE=transactions

# Spark
SPARK_MASTER=spark://spark-master:7077
MODEL_PATH=/opt/spark/models/best_model.pkl

# API
API_HOST=0.0.0.0
API_PORT=8000

# Prometheus
PROMETHEUS_PORT=9090
